<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col col-md-6">
          <h5 class="card-title">
            {{ '::Menu:Posts' | abpLocalization }}
          </h5>
        </div>
        <div class="text-end col col-md-6"></div>
      </div>
    </div>
    <div class="card-body">
      <ngx-datatable [rows]="post.items" [count]="post.totalCount" [list]="list" default>
        <ngx-datatable-column [name]="'::Title' | abpLocalization" prop="title"></ngx-datatable-column>
        <ngx-datatable-column [name]="'::Type' | abpLocalization" prop="type">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ '::Enum:PostType.' + row.type | abpLocalization }}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column [name]="'::Content' | abpLocalization" prop="content">
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  